body {
  background-color: #333;
  color: white;
}
.minesgrid {
  margin: 0px auto;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 80%;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}
.score_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
